@import "compass";
@import "variables";


.complete-form {
	padding-top: 5em;
	input, select {
		width: 45%;
		margin-bottom: 1.4em;
	}
	textarea {
		width: 100%;
		max-width: 100%;
		height: 200px;
		max-height: 200px;
	}
	label {
		font-weight: normal;
	}
	.input-full {
		width: 100%;
	}
	.input-med {
		width: 40%;
	}
	.input-sml {
		width: 25%;
	}
	.input-xsm {
		width: 15%;
	}
	.title-field {
		margin-bottom: 0;
	}
	.telephone-field {
		margin-bottom: 0;
		.input-sml, .input-xsm {
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	}
	.panel {
		margin-top: 2em;
		margin-bottom: 2em;
		background-color: $primaryButtonBackground;
		color: #fff;
		.panel-body {
			padding: 0 0.3em;
			.heading {
				padding-left: 0.5em;
				font-size: 20px;
				font-weight: 100;
				margin-top: 10px;
			}
		}
	}
}