<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-error-state">
                <div class="panel-body">
                    <div class="not-authorized-icon">
                        <i class="twifIcon twifIcon-xlarge icon-error-cross"></i>
                    </div>
                    <h1>The information requested is not available.</h1>
                    <h2>Please try again or <a href="#/">return to the homepage</a>.</h2>
                </div>
            </div>
        </div>
    </div>
</div>