<div class="container">
    <div class="home-buttons">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-4">
                <div class="home-button drafts">
                    <a href="" id="create-draft">
                        <i class="twifIcon icon-draft"></i>
                        <span>Drafts</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="home-button new">
                    <a data-ui-sref=".start" id="create-new">
                        <i class="twifIcon icon-new-message"></i>
                        <span>New</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>